name: github pages

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: install extra repository
        run: sudo add-apt-repository ppa:kelleyk/emacs

      - name: refresh apt
        run: sudo apt-get update

      - name: install dependencies
        run: sudo apt-get install emacs26

      - name: install htmlize
        run: git clone https://github.com/hniksic/emacs-htmlize && cp emacs-htmlize/htmlize.el docs/

      - name: make
        run: make -C src/ doc && ls -sh ./docs/

      - name: pwd
        run: pwd

      - name: ls
        run: ls -sh ./docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs

